<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Reward table</h1>
    
    {% for reward in rewards %}

    <table>
        <th>{{reward.firstName}}</th>
        <td>{{reward.lastName}}</td>
        <td>{{reward.address}}</td>
        <td>{{reward.email}}</td>
        <td>{{reward.pin}}</td>

        {% endfor %}
    </table>
    
</body>
</html>