<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Receipt Number</h1>
    <th>Receipt Date</th>
    <th>Receipt Transaction</th>
    <th>Total Amount</th>
    <th>Receipt Email</th>

    {% for receipt in receipts %}

    <table>

        <td>{{receipt.receipt_number}}</td>
        <td>{{receipt.receipt_date}}</td>
        <td>{{receipt.transaction}}</td>
        <td>{{receipt.email}}</td>
        <td>{{receipt.total_amount}}</td>

        {% endfor %}
    </table>
    
</body>
</html>