<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for notification in notifications %}

    <h1>Notifications Table</h1>
    <table>
        <th>{{notification.status}}</th>
        <td>{{notification.date}}</td>
        <td>{{notification.time}}</td>
        <td>{{notification.recipient}}</td>
      
        {% endfor %}
    </table>
    
</body>
</html>