<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Accounts Table</h1>

    <table>
        {% for account in accounts %}
         <tr>
        <td>{{account.name}}</td>
        <td>{{account.balance}}</td>
        <td>{{account.account_number}}</td>
        <td>{{account.account_type}}</td>
    </tr>

        {% endfor %}

    </table>
    
</body>
</html>