<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Transaction table</h1>
    
    {% for transaction in transactions %}

    <table>
        <th>{{transaction.transaction_type}}</th>
        <td>{{transaction.transaction_date}}</td>
        <td>{{transaction.transaction_amount}}</td>
        <td>{{transaction.transaction_charge}}</td>

        {% endfor %}
    </table>
    
</body>
</html>